<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="main">
        </div class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about" class="active">ABOUT</a></li>
                <li><a href="/projects">PROJECTS</a></li>
            </ul>
        </div>
        
        <div class="about">
            <table class="about-table">
                <tr>
                    <td><b>NAME : </b></td>
                    <td>Khushi Agarwal</td>
                </tr>
                <tr>
                    <td><b>AGE : </b></td>
                    <td>20</td>
                </tr>
                <tr>
                    <td><b>DEPARTMENT : </b></td>
                    <td>Computer Science and Engineering </td>
                </tr>
                <tr>
                    <td><b>COLLEGE : </b></td>
                    <td>Sikkim Manipal Institute of Technology, Sikkim</td>
                </tr>
                <tr>
                    <td><b>YEAR : </b></td>
                    <td>Second</td>
                </tr>
                <tr>
                    <td><b>HOBBIES : </b></td>
                    <td>Dumb Chardes, Swimming, Drawing</td>
                </tr>
        </div>

    </section>
    
</body>
</html>