<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="main">
        </div class="navbar">
            <ul>
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/projects">PROJECTS</a></li>
            </ul>
        </div>
        <div class="info">
            <h3>Hi i am <span>Khushi Agarwal</span></h3>
            <h1><span>C</span>SE <span>S</span>TUDENT</h1>
            <h3>Interested in web designing and development
                <br><a href="#">Download CV</a>
            </h3>
        </div>

        <div class="icons">
            <a href="#"><i class='bx bxl-gmail'></i></a>
            <a href="#"><i class='bx bxl-linkedin' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>
    </section>
    
</body>
</html>