<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="main">
        </div class="navbar">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/projects" class="active">PROJECTS</a></li>
            </ul>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div class="card projectsText">
                        <div class="card-body">
                            <i class="fas servicesIcon fa-clock"></i>
                            <h4 class="card-title mt-3">Website Development</h4>
                            <p class="card-text mt-3">
                                <br>
                                1. A Website for a University<br><br>
                                2. A Website for a small business<br><br>
                                3. A Portfolio Webpage
                            </p>
                        </div>
                    </div>  
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="card projectsText">
                        <div class="card-body">
                            <i class='fas servicesIcon fa-layer-group'></i>
                            <h4 class="card-title mt-3">Machine Learning</h4>
                            <p class="card-text mt-3">HOLLAND'S CODE<br>
                                It focuses on using maachine learning to implement Holland's Code (RIASEC Model)
                                to predict careers for people.
                            </p>
                        </div>
                    </div>  
                </div>

                <div class="col-lg-4 mt-4">
                    <div class="card projectsText">
                        <div class="card-body">
                            <i class='far servicesIcon fa-check-circle'></i>
                            <h4 class="card-title mt-3">App Development</h4>
                            <p class="card-text mt-3"> Trying to learn App Development by doing small self projects.
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>